

# Practical_1: Variables and Assignments

In [ ]:
### Exercise 1:
Declare a variable `x` and assign it the value `10`.

In [7]:
# Exercise 1
x = 10 
print(x)

10

In [ ]:
### Exercise 2:
Assign the value `True` to a variable called `is_valid`.

In [29]:
# Exercise 2
is_valid = "True"
print(is_valid)

True

In [ ]:
### Exercise 3:
Create a string variable `name` with the value "Python Programming".

In [45]:
# Exercise 3
name = "Python Programming"
print(name)
type(name)

Python Programming

str

In [ ]:
### Exercise 4:
Assign the result of `5 + 3` to a variable `sum_result`.

In [49]:
# Exercise 4
sum_result = 5+3
print(sum_result)

8

In [ ]:
### Exercise 5:
Assign multiple variables in one line: `a = 5`, `b = 10`, `c = 15`.

In [53]:
# Exercise
a , b, c = 5, 10, 15

In [ ]:
### Exercise 6:
Assign the value of one variable `x` to another variable `y`.

In [55]:
# Exercise 6
x = 2
y = x 
print(y)

2

In [ ]:
### Exercise 7:
Assign a floating-point number `9.8` to a variable `gravity`.

In [59]:
# Exercise 7
gravity = 9.8
print(gravity)
type(gravity)

9.8

float

In [ ]:
### Exercise 8:
Create a variable `country` and assign it the string value of your favorite country.

In [61]:
# Exercise 8
country = "SENEGAL"
print(country)

SENEGAL

In [ ]:
### Exercise 9:
Change the value of variable `age` from `25` to `26` in two separate steps.

In [69]:
# Exercise 9
age = 25
age = 26
print(age)

26

In [79]:
### Exercise 10:
Use one variable to store the result of subtracting two numbers `20 - 7`.

SyntaxError: invalid syntax (730973999.py, line 2)

In [71]:
# Exercise 10
result = 20-7
print(result)

13

In [ ]:
### Exercise 11:
Assign an integer value and a floating-point value to two different variables.

In [ ]:

# Exercise 11
one = 2
two = 7.8

In [ ]:
### Exercise 12:
Assign a boolean value `False` to a variable `is_completed`.

In [ ]:
```python
# Exercise 12
is_completed = "False"

In [ ]:
---

### Exercise 13:
Swap the values of two variables `x` and `y`.

In [ ]:
```python
# Exercise 13
```

In [81]:
x = 1 
y = 2
temp = x 
x = y
y = temp
print(x)
print(y)

2
1

In [ ]:
### Exercise 14:
Assign a complex number `3 + 4j` to a variable `complex_num`.

In [117]:
complex_num = 3 + 4j
print(complex_num)

(3+4j)

In [ ]:
---

In [ ]:
### Exercise 15:
Reassign a variable from an integer to a string.

In [119]:
# Exercise 15
my_var = 10
print(my_var) 
my_var = "Hello"
print(my_var)

10
Hello

In [ ]:
### Exercise 16:
Create two variables `first_name`first and `last_name`, and assign them your first and last names.

In [ ]:
# Exercise 16
first_name = "khadija"
last_name = "wade"

In [ ]:
---

### Exercise 17:
Create a variable `temperature` and assign it the value of `35.5`.

In [ ]:
```python
# Exercise 17
temperature = 35.5

In [ ]:
---

### Exercise 18:
Assign the result of the multiplication of two numbers `8 * 6` to a variable `product`.

In [ ]:
```python
# Exercise 18
product = 8*6

In [ ]:
---

In [ ]:
### Exercise 19:
Assign a sentence of your choice to a variable `sentence`.

In [129]:

# Exercise 19
sentence = " je suis fatiguée"
print(sentence)

 je suis fatiguée

In [ ]:
### Exercise 20:
Use an assignment to convert a string `'50'` into an integer variable `int_value`.

```python

In [131]:
# Exercise 20
string ="50" 
string = 50
print(string)

50

In [ ]:
### Exercise 21:
Assign the result of dividing `144` by `12` to a variable `quotient`.

```python

In [133]:
# Exercise 21
quotient = 144/12
print(quotient)

12.0

In [ ]:
---

### Exercise 22:
Assign the remainder of `47 divided by 5` to a variable `remainder`.

```python

In [135]:
# Exercise 22
remainder = 47 % 5
print(remainder)

2

In [ ]:
---

### Exercise 23:
Create a variable `is_student` and assign it the value `True`.

```python

In [ ]:
# Exercise 23
is_student = "True"

In [ ]:
---

### Exercise 24:
Use a variable to store the result of a modulo operation: `45 % 4`.

```python

In [137]:
# Exercise 24
modulo = 45 % 4
modulo

1

In [ ]:
### Exercise 25:
Create a variable `pi` and assign it the value `3.14159`.

```python

In [ ]:
# Exercise 25
pi = 3.14159

In [ ]:
### Exercise 26:
Create two variables `length` and `width`, assign them values, and calculate the area of a rectangle.

```python

In [139]:
# Exercise 26
length = 8  
width = 5   
area = length * width
print("The area of the rectangle is:", area)

The area of the rectangle is: 40

In [ ]:
### Exercise 27:
Assign a negative number to a variable `negative_value`.

```python

In [141]:
# Exercise 27
negative_value = -9

In [ ]:
### Exercise 28:
Assign a string containing a special character (e.g., "Hello, World!") to a variable `greeting`.

```python

In [143]:
# Exercise 28
greeting = "Hello, World!"
greeting

'Hello, World!'

In [ ]:
---

### Exercise 29:
Create a variable `population` and assign it a large integer value (in billions).

In [145]:
# Exercise 29
population = 7800000000
print(population)

7800000000

In [ ]:
### Exercise 30:
Use a variable to store the result of raising `2` to the power of `8`.

```python

In [149]:
# Exercise 30
result = 2 ** 8
result

256

In [ ]:
---

### Exercise 31:
Assign a list of your favorite fruits to a variable `fruits`.

```python

In [151]:
# Exercise 31
best_fruits = ['mangue' , 'banane' , 'raisin']
best_fruits

['mangue', 'banane', 'raisin']

In [ ]:
### Exercise 32:
Assign a tuple of three numbers to a variable `coordinates`.

```python

In [155]:
# Exercise 32
coordinates = ( 1, 2, 3)
coordinates

(1, 2, 3)

In [ ]:
### Exercise 33:
Assign a dictionary with keys `name` and `age` to a variable `person`.

```python

In [165]:
# Exercise 33
dict = {'name':'khadija' , 'prenom':'khadija' , 'age':23}
dict

{'name': 'khadija', 'prenom': 'khadija', 'age': 23}

In [ ]:
### Exercise 34:
Use variables to store the sum of two floating-point numbers.

```python

In [167]:
# Exercise 34
result = 1.2 + 8.5
result

9.7

In [ ]:
### Exercise 35:
Create a variable `is_sunny` and assign it the result of a comparison `10 > 5`.

```python

In [173]:
# Exercise 35
is_sunny = (10 > 5)
is_sunny

True

In [ ]:
### Exercise 36:
Assign a string and an integer to two different variables, then print both on one line.

```python

In [183]:
# Exercise 36
one = 'number' 
two = '1' 
print( 'one' + ' '+ '2')

one 2

In [ ]:
### Exercise 37:
Reassign a variable that originally held a number to a boolean value.

```python

In [ ]:
# Exercise 37
my_var = 42
print(my_var)  
my_var = True
print(my_var)

In [ ]:
### Exercise 38:
Create a variable `is_weekend` and assign it the result of `False`.

```python

In [189]:
# Exercise 38
is_weekend = 'False'
is_weekend

'False'

In [ ]:
### Exercise 39:
Assign a multi-line string to a variable `description`.

```python

In [201]:
# Exercise 39
description = '''AAAAAAAAAAAAAAAAAAAAAAA ,
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA,
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA '''
description

'AAAAAAAAAAAAAAAAAAAAAAA ,\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA,\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA '

In [ ]:
---

### Exercise 40:
Use variables to store the result of the absolute value of `-25`.

```python

In [203]:
# Exercise 40
number = -25
absolute_value = abs(number)
print(absolute_value)

25

In [ ]:
### Exercise 41:
Assign the result of a floor division `100 // 6` to a variable `floor_div_result`.

```python

In [205]:
# Exercise 41
floor_div_result = 100 // 6
print(floor_div_result)

16

In [ ]:
### Exercise 42:
Assign the result of adding a floating-point number to an integer to a variable `mixed_sum`.

```python

In [207]:
# Exercise 42
# Adding a float and an integer
integer_number = 10
float_number = 3.5
mixed_sum = integer_number + float_number
print(mixed_sum)

13.5

In [ ]:
### Exercise 43:
Assign a boolean value based on the comparison of two variables `a = 10` and `b = 15`.

```python

In [209]:
# Exercise 43
a = 10
b = 15
is_a_less_than_b = a < b

print(is_a_less_than_b)

True

In [ ]:
### Exercise 44:
Assign a long sentence to a variable and count its characters using `len()`.

```python

In [211]:
# Exercise 44
sentence = "Python is a powerful programming language that allows you to work quickly and integrate systems more effectively."
char_count = len(sentence)
print("Number of characters:", char_count)

Number of characters: 113

In [ ]:
### Exercise 45:
Assign a fractional result `7 / 3` to a variable `division_result`.

```python

In [219]:
# Exercise 45
division_result = 7 / 3
division_result

2.3333333333333335

In [75]:
### Exercise 46:
Create a variable `speed` and assign it the value of 100 kilometers per hour.

SyntaxError: invalid syntax (1166474023.py, line 2)

In [237]:
# Exercise 46
speed = '100' + 'km/h'
speed

'100km/h'

In [ ]:
### Exercise 47:
Assign a multi-variable equation like `y = 3x + 5` where `x = 4` to a variable `y`.

In [231]:
# Exercise 47
x = 4
y = 3 * x + 5
print(y)

17

In [ ]:
### Exercise 48:
Use variables to calculate and store the average of three numbers.

In [223]:
# Exercise 48
num1 = 12
num2 = 18
num3 = 24
average = (num1 + num2 + num3) / 3
print("The average is:", average)

The average is: 18.0